/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.preenchimento-total {
  position: absolute;
  right: 0;
  left: 0;
}

.cabecalho {
  top: 0;
}

.rodape {
    bottom: 0;
}

.empurrar-direita {
    flex: 1 1 auto;
}

.espaco-esquerda {
    padding-left: 50px;
}

.titulo-tabelas {
    text-align: center;
    background-color: darkseagreen;
}