/* You can add global styles to this file, and also import other style files */
@import "/home/andrecleiser/projetos/normalize/normalize.css";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
}

.rodape {
    position: fixed;
    background-color: gray;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.empurrar-direita {
    flex: 1 1 auto;
}

.espaco-esquerda {
    padding-left: 50px;
}

.titulo-tabelas {
    text-align: center;
    background-color: darkseagreen;
}