img {
    background-color: #ddd;
    border-radius: 100%;
    height: 40px;
    object-fit: cover;
    width: 40px;
    display: flex;
}

::ng-deep .mat-tooltip {
    font-size: 16px;
}

.tam-max-nome-empresa {
    max-width: 60%;
    overflow: hidden;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .tam-max-nome-empresa {
        max-width: 170px;
        margin-left: 10px;
        margin-left: 10px;
    }
}