<div class="flex-container">
  <header class="cabecalho">
    <sge-cabecalho nomeEmpresa="EMPRESA TESTESEMPRESA TESTESEMPRESA TESTES"></sge-cabecalho>
  </header>
  <main class="grid-container">
    <div class="menu-container">
      <button mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
      
      <mat-icon class="menu-icones">close</mat-icon>
      <mat-icon class="menu-icones">close</mat-icon>
      <mat-icon class="menu-icones">close</mat-icon>
    </div>
    <div class="componentes-container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>