<header>
    <div class="cabecalho">
        <sge-cabecalho nomeEmpresa="EMPRESA TESTESEMPRESA TESTESEMPRESA TESTES"></sge-cabecalho>
    </div>
</header>
<main>
    <mat-drawer-container>
        <mat-drawer mode="side" opened>
            <mat-card>
                fig1
            </mat-card>
            <mat-card>
                fig1
            </mat-card>
            <mat-card>
                fig1
            </mat-card>
            <mat-card>
                fig1
            </mat-card>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</main>
<footer>
    <div class="rodape">
        teste rodapé
    </div>
</footer>