.flex-container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: flex;
    width: 100%;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornsilk;    
}

.componentes-container {
    /* background-color: aqua; */
    width: 100%;    
}
.menu-icones {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 2px
}
