<mat-table [dataSource]="resumo" class="mat-elevation-z8">

    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let resumoAluno"> {{resumoAluno?.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataNascimento">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let resumoAluno"> {{resumoAluno?.dataNascimento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="responsavelNome">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let resumoAluno"> {{resumoAluno?.responsavelNome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="responsavelCelular">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let resumoAluno"> {{resumoAluno?.responsavelCelular}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunasMostradas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunasMostradas;"></mat-row>
</mat-table>